<section class="page-header">
  <div class="container">
    @@include('./partials/common/nav.html')

    <section class="text-center has-down-arrow">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h5 class="d-block d-md-none">Costumers</h5>
          <h3>Experiencia en desarrollo de soluciones</h3>
          <p class="intro">
            Somos parte del sector desde hace más de 5 años, con probada experiencia y desarrollos tanto propios cómo de terceros.
            Conocemos la tecnología y contamos con numerosos casos de éxito en Argentina, Brasil, España y Singapur.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
