<section class="page-content">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-4 text-center logo-wrapper">
        <img src="assets/img/partners/logo-multichain-small.svg" class="img-fluid">
      </div>

      <div class="col-sm-6 col-lg-4 text-center logo-wrapper">
        <img src="assets/img/partners/logo-rsk-small.svg" class="img-fluid">
      </div>

      <div class="col-sm-6 col-lg-4 text-center logo-wrapper">
        <img src="assets/img/partners/logo-solidity.svg" class="img-fluid">
      </div>

      <div class="col-sm-6 col-lg-4 text-center logo-wrapper">
        <img src="assets/img/partners/logo_hl_new.svg" class="img-fluid">
      </div>

      <div class="col-sm-6 col-lg-4 text-center logo-wrapper">
        <img src="assets/img/partners/logo-ethereum-small.svg" class="img-fluid">
      </div>

      <div class="col-sm-6 col-lg-4 text-center logo-wrapper">
        <img src="assets/img/partners/logo-bitcoin-small.svg" class="img-fluid">
      </div>

    </div><!-- .row -->

    <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
        <p class="slogan"><b>Partnerships</b> some of the World’s smartest companies</p>
      </div>
    </div>

    <div class="row">
      <div class="col logo-wrapper justify-content-end">
        <img src="assets/img/partners/logo-multichain.svg" class="img-fluid">
      </div>
      <div class="col-1"></div>
      <div class="col logo-wrapper justify-content-start">
        <img src="assets/img/partners/logo-infocorp-technologies.svg" class="img-fluid">
      </div>
    </div>
  </div><!-- .container -->
</section>