<section class="page-header">
  <div class="container">
    @@include('./partials/common/nav.html')

    <section class="text-center has-down-arrow">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h5 class="d-block d-md-none">Partners</h5>
          <h3>Tenemos experiencia desarrollando con <b>tecnologías blockchain</b></h3>
          <p class="intro">
            Creemos en la colaboración y construcción de redes. Somos impulsores de la tecnología, pero buscando siempre agregar
            valor, por eso contamos con partnerships estratégicos con proveedores de tecnología, expertos en la industria,
            emprendedores y startups.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
