<section class="page-content">
  <div class="container">

    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body px-4">
                <img src="assets/img/team/bernardo.png" class="img-fluid rounded-circle avatar">
                <h5 class="card-title">BERNARDO CORTI</h5>
                <p class="card-text">
                  Lawyer / CEO
                </p>
                <p class="card-more">
                  MORE ABOUT —
                  <a href="#"><img src="assets/img/common/twitter.svg"></a>
                  <a href="#"><img src="assets/img/common/facebook-square.svg"></a>
                </p>
              </div><!-- .card-body -->
            </div><!-- .card -->
          </div><!-- .col -->

          <div class="col-md-6">
            <div class="card">
              <div class="card-body px-4">
                <img src="assets/img/team/maximiliano.png" class="img-fluid rounded-circle avatar">
                <h5 class="card-title">MAXIMILIANO CAÑELLAS</h5>
                <p class="card-text">
                  Blockchain Developer / CTO
                </p>
                <p class="card-more">
                  MORE ABOUT —
                  <a href="#"><img src="assets/img/common/twitter.svg"></a>
                  <a href="#"><img src="assets/img/common/facebook-square.svg"></a>
                </p>
              </div><!-- .card-body -->
            </div><!-- .card -->
          </div><!-- .col -->


          <div class="col-md-6">
            <div class="card">
              <div class="card-body px-4">
                <img src="assets/img/team/nicolas.png" class="img-fluid rounded-circle avatar">
                <h5 class="card-title">NICOLÁS LITVINOFF</h5>
                <p class="card-text">
                  Head of legal and compliance
                </p>
                <p class="card-more">
                  MORE ABOUT —
                  <a href="#"><img src="assets/img/common/twitter.svg"></a>
                  <a href="#"><img src="assets/img/common/facebook-square.svg"></a>
                </p>
              </div><!-- .card-body -->
            </div><!-- .card -->
          </div><!-- .col -->

          <div class="col-md-6">
            <div class="card">
              <div class="card-body px-4">
                <img src="assets/img/team/agustin.png" class="img-fluid rounded-circle avatar">
                <h5 class="card-title">AGUSTÍN FIORENZA</h5>
                <p class="card-text">
                  Lead solidity developer
                </p>
                <p class="card-more">
                  MORE ABOUT —
                  <a href="#"><img src="assets/img/common/twitter.svg"></a>
                  <a href="#"><img src="assets/img/common/facebook-square.svg"></a>
                </p>
              </div><!-- .card-body -->
            </div><!-- .card -->
          </div><!-- .col -->

        </div><!-- .row -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="hiring">
          <h5>We are hiring!</h5>
          Interested? Please send your cv at jobs@cryptologic.io
        </div>
      </div>
    </div>

  </div><!-- .container -->
</section>