<section class="page-content">
  <div class="container">

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        <b>Ayudamos a organizaciones a incorporar tecnología Blockchain.</b> Somos socios tecnológicos. Acompañamos a nuestros clientes
        desde el proceso de capacitación e ideación, generación de pruebas de concepto, desarrollo e implementación de
        soluciones basadas en tecnología Blockchain para resolver problemas reales.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1 order-md-last">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        No somos consultores. Trabajamos en forma conjunta con nuestros clientes, interviniendo proactivamente en los procesos
        de toma de decisiones, con el propósito de alinear los objetivos a mediano y largo plazo de la organización con las
        posibilidades, y oportunidades, que brinda la aplicación de esta nueva tecnología.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        Creamos un ambiente propicio para la innovación y cultivamos relaciones de largo plazo. Creemos incierto tanto el futuro
        de la tecnología como la forma de hacer negocios de muchas organizaciones.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1 order-md-last">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        Por eso, nos dedicamos a preparar y acompañar a nuestros clientes en el camino de la innovación en forma ordenada,
        rápida y confiable, con un servicio integral y de excelencia.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        La tecnología Blockchain cambiará por completo la manera de hacer negocios en forma transversal a todas las industrias.
        La innovación disruptiva no distingue a las organizaciones por tamaño ni trayectoria. Todos los negocios son
        susceptibles de perder posicionamiento y status frente a nuevos competidores que, en base a la innovación tecnológica,
        cambiarán las reglas de juego para siempre.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1 order-md-last">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        En Cryptologic creemos que estamos ante una revolución tecnológica de características similares a la irrupción de
        internet en los 90. Cientos de organizaciones querrán subirse a la ola de la innovación sin un propósito y objetivos
        claros, pero muchas otras transcenderán la probable explosión de la burbuja y se posicionarán como lideres en un nuevo
        contexto mundial de mayor integración y confianza.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

    <div class="row about-item">
      <div class="col-sm-3 offset-md-1">
        <div class="cube">
          <img src="assets/img/about/cube.svg" class="img-fluid">
        </div><!-- .cube -->
      </div><!-- .col -->
      <div class="col-sm-7">
        Queremos ser quienes identifiquen estas oportunidades y así ayudar a nuestros clientes a ser los nuevos lideres que
        trasciendan la ola y le den un uso real, sustentable y validado a la tecnología.
      </div><!-- .col -->
    </div><!-- .row .about-item -->

  </div><!-- .container -->
</section>