<section class="home-diff">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h3>
          En qué <b>nos diferenciamos?</b>
        </h3>
        <p class="subtitle">
          Somos parte del sector desde hace <b>más de 5 años</b>, con probada experiencia y desarrollos tanto propios cómo de terceros.
          <b>Conocemos la tecnología</b> y contamos con numerosos casos de éxito en Argentina, Brasil, España y Singapur.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="code-bg">
          <div class="we-develop">
              <img src="assets/img/home/bitsign-logo.png">
              <h4>
                Desarrollamos nuestra <b>infraestructura Blockchain</b>
              </h4>
              <p>
                Bitsign es una plataforma de notarización de transacciones en Blockchain que puede ser utilizada en forma inmediata para
                brindar transparencia y trazabilidad a las operaciones de nuestros clientes.
              </p>
              <a href="#" class="read-more">ampliar →</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>