<section class="home-success">

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3><b>Success</b> stories</h3>
        <p class="subtitle">
          We are dedicated to prepare our customers in the way of innovation in an orderly, fast and reliable way, with excellence
          and integral services.
        </p>
      </div>
    </div>
  </div>

  <div class="owl-carousel owl-theme">
    <div class="item">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/home/sentinel.svg" class="img-fluid" style="">
        </div>

        <div class="text-left">
          <p class="card-text">
            Sentinel Chain is a B2B marketplace specifically designed to provide affordable and secure financial services to
            the
            unbanked.
            <a href="#">ampliar →</a>
          </p>
          <p>
          </p>
        </div>
      </div><!-- .card -->
    </div>

    <div class="item">
      <div class="-col-md-4">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/home/ubanx.svg" class="img-fluid" style="">
          </div>

          <div class="text-left">
            <p class="card-text">
              Ubanx will be the easiest way for everyone to access cryptocurrency and blockchain financial services, providing a
              digital platform and physical spaces to meet, learn and connect.
              <a href="#">ampliar →</a>
            </p>
            <p>
            </p>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div>

    <div class="item">
      <div class="-col-md-4">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/home/inclusivity.svg" class="img-fluid" style="">
          </div>

          <div class="text-left">
            <p class="card-text">
              A complete and evolving banking and financial ecosystem based on Blockchain, “Mobile Money” and other Technologies, an
              alternativeto the traditional banking and financial system.
              <a href="#">ampliar →</a>
            </p>
            <p>
            </p>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div>
  </div><!-- .owl-carousel -->

  <div class="carousel-controls">
    <a href="#" class="carousel-left"></a>
    <a href="#" class="carousel-right"></a>
  </div>
</section>

<section class="home-technologies">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h3><b>Technologies we have experience</b> working with</h3>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-lg-6 text-center">
        <img src="assets/img/home/technologies-01.png" class="img-fluid tiles-logos">
      </div>
      <div class="col-12 col-lg-6 text-center">
        <div class="square-box">
          <h6>
            <b>Partnerships</b> some of the World’s smartest companies
          </h6>
          <img src="assets/img/home/technologies-partners.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>