<section class="home-what">
  <div class="container">
    <aside class="left">— QUÉ HACEMOS?</aside>

    @@include('./partials/common/nav.html')

    <section class="text-center has-down-arrow">
      <img src="assets/img/home/home-what.svg" class="img-fluid d-block d-md-none">

      <div class="d-none d-md-block">
        <div style="text-align: center; position: relative;">

          <img src="assets/img/home/header.png" class="img-fluid">
          <div class="anim-obj elipse"></div>
          <div class="anim-obj orbit-1"></div>
          <div class="anim-obj orbit-2"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Ayudamos a las organizaciones a incorporar <b>tecnología Blockchain</b></h3>
        </div>
      </div>
    </section>
  </div>
</section>
