<section class="page-header">
  <div class="container">
    @@include('./partials/common/nav.html')

    <section class="text-center has-down-arrow">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h5 class="d-block d-md-none">Services</h5>
          <h3>Impulsamos el desarrollo de productos y soluciones a problemas reales.</h3>
          <p class="intro">
            We are dedicated to prepare and acompany our costumers in the way of innovation in an orderly, fast and reliable, with
            integral services.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
