<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <h3>Impulsamos el <b>desarrollo de productos
        y soluciones</b> a problemas reales.</h3>
    <p class="subtitle">
      We are dedicated to prepare and acompany our costumers in the way of innovation in an orderly, fast and reliable,
      with
      integral services.
    </p>
  </div>
</div>

<div class="row page-services">
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">CRIPTOMONEDAS & EMISIÓN DE TOKENS</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">PLATAFORMAS DE TOKENIZACIÓN</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">GATEWAYS & PAGOS</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">CROWDFUNDING</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>

  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">AUDITORÍA & OPTIMIZACIÓN DE CÓDIGO</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">SMART CONTRACTS & DAPPS</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">CAMPAÑAS STO</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3">
        <img src="https://placeimg.com/480/480/tech" class="img-fluid rounded-circle">
        <h5 class="card-title">LEGAL & TOKENIZACIÓN</h5>
        <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, magna eget
          fermentum vehicula, quam velit aliquam ipsum</p>
      </div>
    </div><!-- .card -->
  </div>
</div><!-- .row -->