<header>
  <nav class="navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/common/logo_crypto.png" alt="">
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="services.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="industries.html">Industrias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="customers.html">Costumers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="partners.html">Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <a href="#" id="open-menu"></a>
</header>

<div id="full-menu" class="overlay-scale">
  <a href="#" id="close-menu"></a>

  <div class="container-fluid container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col d-none d-lg-flex"></div>
      <div class="col white">
        <div class="d-flex flex-column h-100 justify-content-between">
          <div class="nav-wrapper">
            <h5>WELCOME TO CRYPTO</h5>
            <nav class="nav flex-column">
              <a class="nav-link active" href="services.html">Servicios</a>
              <a class="nav-link" href="industries.html">Industrias</a>
              <a class="nav-link" href="customers.html">Costumers</a>
              <a class="nav-link" href="partners.html">Partners</a>
              <a class="nav-link" href="about.html">About</a>
              <a class="nav-link" href="team.html">Team</a>
              <a class="nav-link" href="contact.html">Contact Us</a>
            </nav>
          </div>

          <div class="p-3 blue flex-column d-none d-md-flex">
            <div class="follow-us">FOLLOW US —</div>
            <div class="social-networks mt-2">
              <a href="#"><img src="assets/img/menu/twitter.svg"></a>
              <a href="#"><img src="assets/img/menu/facebook-square.svg"></a>
              <a href="#"><img src="assets/img/menu/linkedin.svg"></a>
              <a href="#"><img src="assets/img/menu/medium.svg"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col grey">

        <div class="">

          <div class="d-flex flex-column h-100 justify-content-between grey-wrapper">
            <div class="">
              <h6>CRYPTOLOGIC</h6>

              <address>
                <p>
                  España 858 P. 8<br>
                  S2000 Rosario,<br>
                  Argentina
                </p>

                <p>
                  t. +54 9 341458659
                </p>

                <p>
                  m. info@cryptologic.io
                </p>
              </address>
            </div>

            <div>
              <div class="partner">
                Are you looking for a partner on your Blockchain development?
                <br>
                <a href="">contact us →</a>
              </div>
            </div>

          </div>

          <div class="p-3 blue flex-column d-flex d-md-none">
            <div class="follow-us">FOLLOW US —</div>
            <div class="social-networks mt-0 mt-md-2">
              <a href="#"><img src="assets/img/menu/twitter.svg"></a>
              <a href="#"><img src="assets/img/menu/facebook-square.svg"></a>
              <a href="#"><img src="assets/img/menu/linkedin.svg"></a>
              <a href="#"><img src="assets/img/menu/medium.svg"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>