.logo-wrapper {
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}

p.slogan {
  font-size: 18px;
  font-weight: 300;
  color: #8C99AD;
  margin-top: 100px;
  margin-bottom: 50px;

  b {
    font-weight: 700;
  }
}