<section class="page-content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 left-column">
        <div class="get-in-touch">
          <h1>Get in <b>touch!</b></h1>

          <address>
            <p>
              España 858 P. 8<br>
              S2000 Rosario,<br>
              Argentina
            </p>

            <p>
              t. +54 9 341458659
            </p>

            <p>
              m. info@cryptologic.io
            </p>
          </address>

          <div class="hiring">
            <h5>We are hiring!</h5>
            Interested? Please send<br>
            your cv at jobs@cryptologic.io
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="contact-form-wrapper">

          <div class="row">
            <div class="col-md-8">
              <form action="">

                <div class="form-label-group">
                  <input type="text" id="inputName" class="form-control" placeholder="Your name" required>
                  <label for="inputName">Your name</label>
                </div>


                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Your e-mail" required>
                  <label for="inputEmail">Your e-mail</label>
                </div>


                <div class="form-label-group">
                  <input type="text" id="inputRole" class="form-control" placeholder="What is your role?" required>
                  <label for="inputRole">What is your role?</label>
                </div>


                <div class="form-label-group">
                  <input type="text" id="inputHow" class="form-control" placeholder="How did you hear about us?" required>
                  <label for="inputHow">How did you hear about us?</label>
                </div>


                <div class="form-label-group">
                  <textarea id="inputTextarea" rows="5" class="form-control" placeholder="Tell us about your project" required></textarea>
                  <label for="inputTextarea" style="top: -15px;">Tell us about your project</label>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary float-md-right">send →</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row map">
      <img src="assets/img/contact/map.png" class="d-none d-md-block">
    </div>
  </div>
</section>