<section class="page-header">
  <div class="container">
    @@include('./partials/common/nav.html')

    <section class="text-center has-down-arrow">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h5 class="d-block d-md-none">Contact</h5>
          <h3>Contact us if you looking for a partner</h3>
          <p class="intro">
            Somos parte del sector desde hace más de 5 años, <b>con probada experiencia y desarrollos tanto propios cómo de terceros.</b>
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
