<section class="home-who">
  <div class="container">
    <aside class="right">— QUIÉNES SOMOS?</aside>

    <section class="has-down-arrow">

      <div class="row">
        <div class="col-md-4 align-self-center order-2 order-md-1">
          <h3 class="mt-3 mt-md-0"">Somos socios <b>tecnológicos!</b></h3>
          <p>
            Acompañamos a nuestros clientes desde el proceso de capacitación e ideación, generación de pruebas de concepto,
            desarrollo e implementación de soluciones basadas en tecnología Blockchain para resolver problemas reales.

          </p>
          <a href="#" class="read-more">ampliar →</a>
        </div>
        <div class="col text-right order-1 order-md-2">
          <img src="assets/img/home/home-who.svg" class="img-fluid">
        </div>
      </div>
    </section>
  </div>
</section>
