<section class="page-content">
  <div class="container">
    @@include('./partials/page-services/services-list.html')
  </div><!-- .container -->

  <div class="container-fluid">
    <!-- Estructura legal in-house -->
    <div class="row">
      <div class="col-md-8">
        <div class="blue-area">
          <b>Estructura legal in-house</b>
        </div>
      </div>
    </div><!-- .row -->
  </div>

  <div class="container pull-up">
    <div class="row">
      <div class="col-md-12">
        <div class="white-area">
          <p class="columns">
            La tokenización de activos y su desarrollo comercial tiene un componente legal que no se encuentra presente en otro tipo
            de implementaciones tecnológicas. Las organizaciones que buscan innovar en este campo deben prestar especial atención a
            las particularidades legales y
            regulatorias que podrían volver inviable la solución, y su implementación, en un futuro.<br>
            Contamos con nuestra propia estructura legal in-house que nos permite analizar los proyectos desde su concepción desde
            un punto de vista regulatorio, tanto a nivel local como internacional.
          </p>

          <h5 class="text-center mt-5">
            ALGUNOS DE NUESTROS SERVICIOS
          </h5>

          <div class="row">
            <div class="col-md-12">

              <div class="our-services-row">
                <div class="text-center our-services-item">Estructura Legal ICO</div>
                <div class="text-center our-services-item">Diseño Legal White Paper</div>
                <div class="text-center our-services-item">Plan de Impuestos</div>
                <div class="text-center our-services-item">Compilance - Diseño KYC/AML</div>
              </div>

              <div class="our-services-row 2nd">
                <div class="text-center our-services-item">Regulación & Jurisdicciones estratégicas</div>
                <div class="text-center our-services-item">Documentación Pre-Sale & Sale</div>
                <div class="text-center our-services-item">Diseño Legal de Smart Contracts</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .container .pull-up -->

  <div class="container-fluid">
    <!-- Training – On-boarding de la organización en la tecnología -->
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <div class="blue-area">
          <div class="row">
            <div class="col-md-6 offset-md-3 text-right">
              <b>Training – On-boarding</b> de la organización
              en la tecnología
            </div>
          </div>
        </div>
      </div>
    </div><!-- .row -->
  </div>

  <div class="container pull-up">
    <div class="row">
      <div class="col-md-12">
        <div class="white-area">
          <p class="columns">
            Impulsamos el desarrollo de productos y soluciones a problemas reales. Por eso, nuestro proceso comienza con un
            entrenamiento a mandos medios y ejecutivos, con el objetivo de transformar el mindset de la organización y fomentar la generación de ideas a partir de los expertos dentro
            de la compañía.
          </p>

          <h5 class="text-center mt-5">
            NUESTRO ENTRENAMIENTO PUEDE RESUMIRSE EN 4 ETAPAS:
          </h5>

          <div class="row stages">

            <div class="col-md-3 stage-item">
              <small class="number-item">1</small>
              <h4>TÉCNICO - BÁSICOS</h4>
              <h6>TEMARIO</h6>
              <ul>
                <li>Distributed ledger technology</li>
                <li>BlockChain</li>
                <li>Arquitecturas</li>
                <li>Componentes</li>
                <li>Conceptos</li>
              </ul>
            </div><!-- .col-md-3 .stage-item -->

            <div class="col-md-3 stage-item">
              <small class="number-item">2</small>
              <h4>TÉCNICO - INTERMEDIO</h4>
              <h6>TEMARIO</h6>
              <ul>
                <li>Distributed ledger technology</li>
                <li>BlockChain</li>
                <li>Arquitecturas</li>
                <li>Componentes</li>
                <li>Conceptos</li>
              </ul>
            </div><!-- .col-md-3 .stage-item -->

            <div class="col-md-3 stage-item">
              <small class="number-item">3</small>
              <h4>ASPECTOS LEGALES E IMPLEMENTACIÓN</h4>
              <h6>TEMARIO</h6>
              <ul>
                <li>Distributed ledger technology</li>
                <li>BlockChain</li>
                <li>Arquitecturas</li>
                <li>Componentes</li>
                <li>Conceptos</li>
              </ul>
            </div><!-- .col-md-3 .stage-item -->


            <div class="col-md-3 stage-item">
              <small class="number-item">4</small>
              <h4>IMPLEMENTACIÓN EN SU INDUSTRIA</h4>
              <h6>TEMARIO</h6>
              <ul>
                <li>Distributed ledger technology</li>
                <li>BlockChain</li>
                <li>Arquitecturas</li>
                <li>Componentes</li>
                <li>Conceptos</li>
              </ul>
            </div><!-- .col-md-3 .stage-item -->

          </div>
        </div>
      </div>
    </div>
  </div><!-- .container .pull-up -->

  <div class="container-fluid">
    <!-- Estructura legal in-house -->
    <div class="row">
      <div class="col-md-8">
        <div class="blue-area">
          <div class="row">
            <div class="col-md-4 offset-md-4 text-left">
              Pruebas de concepto
              Diseño de Arquitectura
              Desarrollo - Implementación
            </div>
          </div>

        </div>
      </div>
    </div><!-- .row -->
  </div>

  <div class="container pull-up" style="margin-bottom: 0;">
    <div class="row">
      <div class="col-md-12">
        <div class="white-area">
          <p class="columns">
            Acompañamos a nuestros clientes desde el proceso de ideación, relevamiento y generación de pruebas de concepto hasta el
            desarrollo integral de la solución, su implementación y soporte.<br>
            Las soluciones con arquitectura blockchain deben pensarse en forma transversal a todos los procesos en la
            organización y por ello trabajamos conjuntamente con los equipos de sistemas existentes, apoyándonos también en nuestros
            partners para el desarrollo de soluciones especificas.
          </p>

          <div class="row our-services-icons">
            <div class="col-6 col-md-2 text-center">
              <img src="assets/img/services/01.svg" class="img-fluid">
              <p>
                Relevamiento<br>
                Ideación<br>
                Captura de requisitos
              </p>
            </div>
            <div class="col-6 col-md-2 text-center">
              <img src="assets/img/services/02.svg" class="img-fluid">
              <p>
                Desarrollo PoC
              </p>
            </div>
            <div class="col-6 col-md-2 text-center">
              <img src="assets/img/services/03.svg" class="img-fluid">
              <p>
                Diseño visual y técnico
              </p>
            </div>
            <div class="col-6 col-md-2 text-center">
              <img src="assets/img/services/04.svg" class="img-fluid">
              <p>
                Desarrollo
              </p>
            </div>
            <div class="col-6 col-md-2 text-center">
              <img src="assets/img/services/05.svg" class="img-fluid">
              <p>
                Despliegue
              </p>
            </div>
            <div class="col-6 col-md-2 text-center">
              <img src="assets/img/services/06.svg" class="img-fluid">
              <p>
                Soporte y actualización
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .container .pull-up -->


  <div class="container-fluid pull-up" style="overflow-x: hidden; overflow-y: visible; padding: 25px 0 40px; transform: translateY(-310px);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="white-area white-area-carousel">

            <div class="row">

              <div class="col-md-4 d-none d-md-block">
                <nav class="nav flex-column custom-tabs">
                  <a class="nav-link active" href="#tab1" data-toggle="custom-tab">Relevamiento, ideación y captura de requisitos.</a>
                  <a class="nav-link not-disabled" href="#tab2" data-toggle="custom-tab">Desarrollo de Prueba de concepto</a>
                  <a class="nav-link not-disabled" href="#tab3" data-toggle="custom-tab">Diseño visual y técnico</a>
                  <a class="nav-link not-disabled" href="#tab4" data-toggle="custom-tab">Desarrollo</a>
                  <a class="nav-link not-disabled" href="#tab5" data-toggle="custom-tab">Despliegue</a>
                  <a class="nav-link not-disabled" href="#tab6" data-toggle="custom-tab">Soporte y actualización</a>
                </nav>
              </div>
              <div class="col-md-8 carousel-wrapper">
                <div class="carousel-inner">

                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                      <div class="number">01</div>
                      <h2>Relevamiento, ideación y captura de requisitos.</h2>

                      <h6>ACTIVIDADES</h6>
                      <ul>
                        <li>Lluvia de ideas y requisitos de negocio.</li>
                        <li>Identificar migraciones de sistemas existentes a Distributed Ledger</li>
                        <li>Priorizar casos de uso bajo conceptos "Fail Fast", "MVP" & "V2.0".</li>
                        <li>Definir entidades comerciales "On-Chain" y "Off-Chain"</li>
                        <li>Definir componentes técnicos</li>
                        <li>Roadmap del producto</li>
                      </ul>

                      <h6>ENTREGABLES</h6>
                      <ul>
                        <li>Listado de requerimientos de alto nivel</li>
                        <li>Evaluación del tamaño del proyecto</li>
                        <li>Propuesta de workshop</li>
                        <li>SOW: Declaración de trabajo.</li>
                        <li>Plan de prueba de concepto.</li>
                      </ul>
                    </div>

                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                      <div class="number">02</div>
                      <h2>Desarrollo de Prueba de concepto</h2>
                      <h6>ACTIVIDADES</h6>
                      <h6>ENTREGABLES</h6>
                    </div>

                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                      <div class="number">03</div>
                      <h2>Diseño visual y técnico</h2>
                      <h6>ACTIVIDADES</h6>
                      <h6>ENTREGABLES</h6>
                    </div>

                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                      <div class="number">04</div>
                      <h2>Desarrollo</h2>
                      <h6>ACTIVIDADES</h6>
                      <h6>ENTREGABLES</h6>
                    </div>

                    <div class="tab-pane fade" id="tab5" role="tabpanel">
                      <div class="number">05</div>
                      <h2>Despliegue</h2>
                      <h6>ACTIVIDADES</h6>
                      <h6>ENTREGABLES</h6>
                    </div>

                    <div class="tab-pane fade" id="tab6" role="tabpanel">
                      <div class="number">06</div>
                      <h2>Soporte y actualización</h2>
                      <h6>ACTIVIDADES</h6>
                      <h6>ENTREGABLES</h6>
                    </div>
                  </div>


                  <div class="carousel-controls">
                    <a href="#" id="services-prev" class="carousel-left"></a>
                    <a href="#" id="services-next" class="carousel-right"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>